header {
    width: 100%;
    background-color: #FEDE00;
}

h1 {
    width: max-content;
    padding-top: 4px;
    padding-bottom: 6px;
    padding-left: 15px;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    background: linear-gradient(to right, #87CEEB, #191970);
    background-clip: padding-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#ital {
    font-style: oblique;
    font-size: 33px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* styles for the search form */
#user-form {
    margin-top: 12px;
}

input,
button {
    width: 100%;
    margin-bottom: 12px;
    border-radius: 5px;
    height: 34px;
    border: none;
}
    
button:focus {outline:0;}

label {
    color: #404040;
    font-size: 14px;
    text-align: left;
    padding-left: 6px;
    margin-bottom: 1px;
}

input {
    height: 34px;
    border: 1px solid grey;
    border-radius: 0px;
}

form button {
    color: white;
    background-color:#FF7900;
}

form button:hover {
    background-color:#E66000;
}

/* styles for the dynamically-rendered search history */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#previous-searches {
    display: none;
    padding-top: 10px;
    border-top: solid 1px grey;
}

#previous-searches button {
    color:  white;
    background-color:#3F569A;
}

#previous-searches button:hover {
    background-color: #253C80;
}

/* styles for the dynamically rendered current weather data */
#current-weather {
    border: solid 1px darkgrey;
    padding-left: 12px;
    margin-top: 12px;
    background-color: #F2F3F5;
}

h2 {
    margin-bottom: 0px;
    margin-bottom: -8px;
}

#current-details span {
    width: 16px;
    padding: 1px 6px;
    border-radius: 3px;
}

li p {
    margin-bottom: 6px;
}

/* classes for conditionally rendering the UV index color codes */
.favorable {
    background-color: green;
}

.moderate {
    background-color: #FFE710;
}

.severe {
    background-color: red;
}

/* styles for the 5-day forecast data */
#forecast-container {
    margin-top: 12px;
}

.card-list {
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 8px;
    display: flex;
    align-content:space-between;
    padding-left: 0px;
    padding-right: 0px;
}

.card {
    display: flex;
    margin-right: 18px;
    margin-bottom: 18px;
    display: inline;
    background-color: #F2F3F5;
    text-align: left;
    border: solid 1px darkgrey;
    border-radius: 0px;
}

.card-body {
    padding: 10px 8px 10px 6px;
}

h5 {
    margin-bottom: 0px;
    font-size: medium;
}

.card-body span {
    display: block;
}

.card-text {
    margin-top: 3px;
    font-size: small;
}